<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Band Register</title>
    <link rel="stylesheet" href="/stylesheets/index-style.css">
    <link rel="stylesheet" href="/stylesheets/band-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body id="">
    {{{body}}}
</body>
</html>