 <div id="band-wrapper">
        <section class="band">
            <article>
                <form action="/edit/{{band._id}}" method="POST">
                    <div class="row">
                        <label for="bandName">Band name:</label>
                        <input type="text" id="bandName" name="name" value="{{ band.name }}" placeholder="Name" required>
                    </div>
                    <div class="row">
                        <label for="members">Members:</label>
                        <textarea rows="5" id="members" name="members" placeholder="Member 1, Member 2, ..." required>{{ band.members }}</textarea>
                    </div>
                    <div class="row">
                        <label for="honorarium">Honorarium:</label>
                        <input type="text" id="honorarium" name="honorarium" value="{{ band.honorarium }}" placeholder="price" required>
                    </div>
                    <div class="row">
                        <label for="genre">Genre:</label>
                        <div class="genre-select">
                            <input type="radio" id="genre" name="genre" value="Rock" checked>Rock
                            <input type="radio" id="genre" name="genre" value="Metal">Metal
                            <input type="radio" id="genre" name="genre" value="Pop">Pop
                            <input type="radio" id="genre" name="genre" value="Other">Other
                        </div>
                    </div>

                    <div>
                        <button type="submit">Edit</button>
                        <a href="/">Cancel</a>
                    </div>
                </form>
            </article>
        </section>
</div>