<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <link type="text/css" rel="stylesheet" href='/stylesheets/reset.css' />
    <link type="text/css" rel="stylesheet" href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href='/stylesheets/create-style.css' />
</head>
<body style="background-color: #CDF0E1">
{{{body}}}
</body>
</html>
