<!DOCTYPE html>
<html>
<head>
	<title>ProjectRider</title>
	@Styles.Render("~/Content/reset.css")
	@Styles.Render("~/Content/style.css")
	@Styles.Render("~/Content/create-style.css")
</head>
<body>
	@RenderBody()
</body>
</html>