<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Game Store</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">

</head>
<body id="body">
    {{{body}}}
</body>
</html>
