<h2>Are you sure you want to delete that product?</h2>
<form action="/delete/{{id}}" method="POST">
 <button type="submit" class="btn btn-danger">Yes</button>
 <a href="/"><button type="button" class="btn btn- primary">Cancel</button></a>
</form>
